.navbar {
    background-color: #0f0d15;
    background-image: linear-gradient(-180deg,
            #1a1527,
            #0e0c16 88%,
            #0e0c16 99%);
    padding: 1rem 2rem;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #00ffff !important;
    text-decoration: none;
}
.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #fff;
    margin-right: 1rem;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #00ffff !important;
    text-decoration: none;
}

.nav-link.active {
    color: #fff !important;
    border-bottom: 3px solid #fff;
}
.nav-link:focus{
    color: #fff !important;
}